div.keys-wrapper {
  display: inline-flex;
  flex-direction: row;
  width: auto;

  .key {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    width: 24px;
    min-width: 24px;
    border: 1px solid black;
    font-size: 8pt;
    -webkit-transition: background-color 0.1s;
    -moz-transition: background-color 0.1s;
    -ms-transition: background-color 0.1s;
    -o-transition: background-color 0.1s;
    transition: background-color 0.1s;

    &.regular {
      height: 120px;
      margin: 0 1px;
      z-index: 1;
      background-color: rgb(250, 250, 250);
      color: black;
    }

    &.sharp {
      height: 80px;
      margin: 0 -13px;
      z-index: 2;
      background-color: rgb(50, 50, 50);
      color: white
    }

    // Prevent scrollbar from appearing when sharp key is the last key because parent container collapses
    &:last-child.sharp {
      margin-right: 0;
    }

    &.active {
      background-color: aquamarine;
    }

    &.non-active {
      //  Nothing
    }

    span {
      bottom: 0;
    }
  }

}
