<div layout="row" layout-align="center start" class="midi-selector-container">
    <!-- Input -->
    <div layout="column" class="midi-selector-input-column">
        <h2>Input</h2>
        <md-content ng-repeat="input in inputs"
                    class="midi-selector-cell"
                    md-ink-ripple
                    ng-click="open(input)">
            <div class="midi-selector-state-indicator"
                 ng-class="input.connection === 'open' ? 'state-open' : 'state-closed'"></div>
            <span>{{input.name}}</span>
        </md-content>
    </div>

    <!-- Output -->
    <div layout="column">
        <h2>Output</h2>
        <md-content ng-repeat="output in outputs"
                    class="midi-selector-cell"
                    md-ink-ripple
                    ng-click="open(output)">
            <div class="midi-selector-state-indicator"
                 ng-class="output.connection === 'open' ? 'state-open' : 'state-closed'"></div>
            <span>{{output.name}}</span>
        </md-content>
        <md-content class="midi-selector-cell"
                    md-ink-ripple
                    ng-click="open(virtualOutput)">
            <div class="midi-selector-state-indicator"
                 ng-class="virtualOutput.connection === 'open' ? 'state-open' : 'state-closed'"></div>
            <span>Speakers</span>
        </md-content>
    </div>
</div>