@import "../../styles/colors";

.midi-selector-cell {
  padding: .25em;
  margin: .25em;
  background-color: rgba($brown-100, .8);
  border-radius: 2em;
  height: 2em;
  width: 200px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.midi-selector-state-indicator {
  height: 20px;
  width: 20px;
  //background-color: rgba(80, 80, 80, 0.25);
  border: 2px solid white;
  box-sizing: border-box;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  margin: 0.25em .4em;
}

.midi-selector-state-indicator {
  &.state-open {
    background-color: rgba($green-a400, 0.25);
    border: 2px solid rgba($teal-a400, .25);
    box-shadow: 0 0 10px 1px rgba($green-a400, 0.33);
  }
}