div.root {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  height: 100vh;

  .router-wrapper {
    flex: 1 1;
    overflow-x: auto;
    //outline: 1px solid red;
  }

  .keyboard-wrapper {
    flex: 0 0 0;
    min-height: auto;
    //outline: 1px solid cyan;
  }
}
