@import '../../colors.scss';

div.design-selector-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  overflow: auto;
  max-width: 100vw;

  div.design-card {
    background-color: $grey-50;
    box-shadow: 0 5px 15px 0 $grey-400;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    margin: 1em;
    width: 225px;
    min-width: 225px;
    height: 315px;
    min-height: 300px;
    transition: width .3s ease-in-out;

    &.selected {
      width: 450px;

      div.design-card-image {
        justify-content: center;

        app-design-preview {
          transform-origin: center;
          margin-left: 0;
        }
      }
    }

    div.design-card-image {
      top: 0;
      flex: 3;
      background-color: $grey-100;
      border-radius: 5px 5px 0 0;
      width: 100%;
      height: 225px;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      flex-direction: row;
      overflow: hidden;
      position: relative;

      app-design-preview {
        transform: scale(.5);
        transform-origin: left;
        margin-left: 1em;
        position: relative;;
        transition: margin-left .3s ease-out;
      }
    }

    div.design-card-content {
      padding: .5em;
      flex: 1;
      border-radius: 0 0 5px 5px;
      height: 60px;
      width: auto;
      display: flex;
      flex-direction: row;
      justify-content: space-between;

      span.title {
        display: block;
        font-size: x-large;
        font-weight: bold;
      }

      div.fieldset-wrapper {
        overflow: hidden;
        display: flex;
        flex-direction: row;

        div.keys-column {
          display: flex;
          flex-direction: column;
        }
      }
    }

    div.action-buttons {
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      align-items: center;
      padding: 0 .5em;
      height: 30px;
    }
  }
}

