<div>
    <div layout="column">
        <div ng-repeat="roomUser in room.users" layout="row" class="room-user-row">
            <div layout="column" layout-align="center center" class="room-user-row-info">
                <img ng-src="{{roomUser.user.image}}"
                     ng-if="roomUser.user.image"
                     crossorigin="anonymous"
                     style="-webkit-border-radius: 50%;-moz-border-radius: 50%;border-radius: 50%;">
                <md-button class="md-icon-button">
                    <md-icon class="material-icons">
                        volume_up
                    </md-icon>
                </md-button>
            </div>
            <keyboard keyboard-model="roomUser.keyboard" flex="shrink"></keyboard>
        </div>
    </div>
</div>