<div #host class="wrapper flex-column flex-align-start-stretch"
     [ngClass]="{'hidden':isHidden}">
  <div class="header flex-row flex-align-start-stretch"
       draggable="true"
       (drag)="onHeaderDrag($event)"
       (dragstart)="onHeaderDragStart($event)">
    <div class="title-wrapper">
      <h4>DEBUG CONSOLE ({{midiEvents.length - 1}})</h4>
    </div>

    <div>
      <button (click)="toggleConsole()">
        <i class="material-icons">cancel_presentation</i>
      </button>
    </div>
  </div>

  <div #scrollable class="content flex-column-reverse flex-align-start-stretch">
    <div *ngFor="let event of midiEvents">
      <div *ngIf="event" class="event-wrapper">
        <span class="info">{{event.commandName}}</span><br>
        <span class="timestamp">
          [{{event.command}} , {{event.value1}} , {{event.value2}}]
          -
          {{getDateTimestamp(event.timestamp) | date:'short'}}
        </span>
      </div>
    </div>
    <div>
      <label>
        <input type="checkbox" [(ngModel)]="autoScroll">
        auto-scroll
      </label>
      <button (click)="reset()">reset</button>
    </div>
  </div>
</div>
