<div class="design-wrapper">
  <div class="halves-container">

    <div class="top-half">
      <div class="knobs-wrapper">
        <app-arturia-switch></app-arturia-switch>
        <div class="knob-seq">
          <div class="knob-inner">
            <app-knob rotation="-112"></app-knob>
          </div>
        </div>

        <div class="knob-time">
          <div class="knob-inner">
            <app-knob rotation="0"></app-knob>
          </div>
        </div>

        <div class="knob-rate">
          <div class="knob-inner">
            <app-knob rotation="20"></app-knob>
          </div>
        </div>
      </div>

      <div class="media-buttons-wrapper">
        <app-arturia-media-key>
          <span>Tap</span>
        </app-arturia-media-key>

        <app-arturia-media-key class="record" on="true">
          <i class="material-icons">fiber_manual_record</i>
        </app-arturia-media-key>

        <app-arturia-media-key>
          <i class="material-icons">stop</i>
        </app-arturia-media-key>

        <app-arturia-media-key on="true">
          <i class="material-icons">pause</i>
          <span>/</span>
          <i class="material-icons">play_arrow</i>
        </app-arturia-media-key>
      </div>

      <div class="top-half-whitespace">&nbsp;</div>

      <div class="logo-wrapper">
        <div class="arturia-title-wrapper"><h2 class="arturia-title">ARTURIA</h2><b class="copyright">&#xA9;</b></div>
        <span class="arturia-slogan">YOUR EXPERIENCE <b class="dot">&#183;</b> YOUR SOUND</span>
      </div>
    </div>

    <div class="bottom-half">
      <div class="sequence-wrapper">
        <div class="control-buttons">
          <app-arturia-alt-key [on]="true">Hold</app-arturia-alt-key>
          <span>&nbsp;</span>
          <app-arturia-alt-key class="shift">Shift</app-arturia-alt-key>
        </div>
        <div class="octave-buttons">
          <app-arturia-alt-key>Oct-</app-arturia-alt-key>
          <span>Reset</span>
          <app-arturia-alt-key>Oct+</app-arturia-alt-key>
        </div>

        <div class="bars-wrapper">
          <div class="left-bar">
            <div class="bar-inner">
              <span>&#8593;</span>
              <div class="indicator" [ngStyle]="{top:getPitchBarPercentage()}"></div>
              <span>&#8595;</span>
            </div>
            <span>Pitch</span>
          </div>
          <div class="bars-whitespace"></div>
          <div class="right-bar">
            <div class="bar-inner">
              <span>&#8593;</span>
              <div class="indicator" [ngStyle]="{top:getModulationBarPercentage()}"></div>
            </div>
            <span>Mod</span>
          </div>
        </div>

      </div>
      <div class="key-bed-wrapper">
        <app-keyboard *ngIf="keyboardConfig" [keyboardConfig]="keyboardConfig"></app-keyboard>
      </div>
    </div>

  </div>
</div>
