<div class="design-wrapper">
  <div class="halves-container">

    <div class="top-half">
      <div class="knobs-wrapper">
        <app-arturia-switch></app-arturia-switch>
        <div class="knob-seq">
          <div class="knob-inner">
            <app-knob rotation="-112"></app-knob>
          </div>
        </div>

        <div class="knob-time">
          <div class="knob-inner">
            <app-knob rotation="0"></app-knob>
          </div>
        </div>

        <div class="knob-rate">
          <div class="knob-inner">
            <app-knob rotation="20"></app-knob>
          </div>
        </div>
      </div>

      <div class="media-buttons-wrapper">
        <div class="punch-hole tap">
          <div class="outer">
            <div class="inner">
              <span>Tap</span>
            </div>
          </div>
        </div>

        <div class="punch-hole record on">
          <div class="outer">
            <div class="inner">
              <i class="material-icons">fiber_manual_record</i>
            </div>
          </div>
        </div>

        <div class="punch-hole stop">
          <div class="outer">
            <div class="inner">
              <i class="material-icons">stop</i>
            </div>
          </div>
        </div>


        <div class="punch-hole play-pause on">
          <div class="outer">
            <div class="inner">
              <i class="material-icons">pause</i>
              <span>/</span>
              <i class="material-icons">play_arrow</i>
            </div>
          </div>
        </div>
      </div>

      <div class="top-half-whitespace">&nbsp;</div>

      <div class="logo-wrapper">
        <div class="arturia-title-wrapper"><h2 class="arturia-title">ARTURIA</h2><b class="copyright">&#xA9;</b></div>
        <span class="arturia-slogan">YOUR EXPERIENCE <b class="dot">&#183;</b> YOUR SOUND</span>
      </div>
    </div>

    <div class="bottom-half">
      <div class="sequence-wrapper">
        <div class="control-buttons">
          <app-arturia-alt-key [on]="true">Hold</app-arturia-alt-key>
          <!--<div class="punch-hole hold">Hold</div>-->

          <span>&nbsp;</span>

          <app-arturia-alt-key class="shift">Shift</app-arturia-alt-key>
          <!--<div class="shift">Shift</div>-->
        </div>
        <div class="octave-buttons">
          <app-arturia-alt-key>Oct-</app-arturia-alt-key>
          <!--<div class="minus">Oct-</div>-->

          <span>reset</span>
          <app-arturia-alt-key>Oct+</app-arturia-alt-key>
          <!--<div class="plus">Oct+</div>-->
        </div>

        <div class="bars-wrapper">
          <div class="left-bar">
            <div class="bar-inner">
              <span>&#8593;</span>
              <span>&#8212;</span>
              <span>&#8595;</span>
            </div>
            <span>Pitch</span>
          </div>
          <div class="bars-whitespace"></div>
          <div class="right-bar">
            <div class="bar-inner">
              <span>&#8593;</span>
              <span>&#8212;</span>
            </div>
            <span>Mod</span>
          </div>
        </div>

      </div>
      <div class="key-bed-wrapper">
        <app-keyboard *ngIf="keyboardConfig" [keyboardConfig]="keyboardConfig"></app-keyboard>
      </div>
    </div>

  </div>
</div>
